## Data Cleansing

### Extract Non-BBG Data

In [392]:
#SiCheng main dataframe
import pandas as pd
import openpyxl

raw_df_sc = pd.read_excel('main_dataset_raw.xlsx',sheet_name='data')
raw_df_sc

,DATE,CPI,PPI,ETF_Ounces,10yInterest,DP_ratio,PE_ratio,Chinese_premium_discount,Indian_premium_discount,NASDAQ,SP500_price,SP500_volume,USD_index,VIX
0,1914-01,NaN,-2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1914-02,NaN,-1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1914-03,NaN,-2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1914-04,NaN,-2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1914-05,NaN,-2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327,2024-08,7.934,-0.9,NaN,1.664190,1.33,27.55,-1.526427,5.831219,0.002809,NaN,NaN,-0.005923,-0.037692
1328,2024-09,7.398,-2.4,NaN,1.581581,1.31,28.07,-11.192383,-2.388517,0.011506,NaN,NaN,NaN,0.047405
1329,2024-10,7.923,-0.9,NaN,1.480148,1.28,NaN,-13.455145,0.537662,-0.002251,NaN,NaN,NaN,0.141243
1330,2024-11,8.417,0.1,NaN,1.958417,1.25,NaN,-16.183557,9.254420,0.026150,NaN,NaN,NaN,-0.234083
1331,2024-12,8.943,1.5,NaN,1.824369,1.24,NaN,-3.335864,0.340406,0.002088,NaN,NaN,NaN,0.108644

## <font color="yellow">BBG Dataset</font>

### _Step 1: Read Excel, Modify Columns and Index_

In [393]:
#Alfred Dataset
#Main, GC2 data, Fed_Eff_Rate, PE; fix index and column labels

raw_df_al_main = pd.read_excel('bbg_gc_data.xlsx',sheet_name='Data')
raw_df_al_gc2 = pd.read_excel('bbg_gc_data.xlsx',sheet_name='GC2 COMB COMDTY',skiprows=6)
raw_df_al_fed_eff_rate = pd.read_excel('bbg_gc_data.xlsx',sheet_name='Fed_Eff_Rate',skiprows=5)
raw_df_al_pe = pd.read_excel('bbg_gc_data.xlsx',sheet_name='PE',skiprows=6)

#another file
raw_df_al_dp12 = pd.read_excel('data2.xlsx',sheet_name='DP_12M',skiprows=6)
raw_df_al_gdp_nom_yoy = pd.read_excel('data2.xlsx',sheet_name='GDP_Nom_YoY',skiprows=5) #quarterly
raw_df_al_gdp_real_qoq = pd.read_excel('data2.xlsx',sheet_name='GDP_Real_QoQ',skiprows=5) #quarterly
raw_df_al_cpi_yoy = pd.read_excel('data2.xlsx',sheet_name='CPI_YoY',skiprows=5) #monthly
raw_df_al_unemploy = pd.read_excel('data2.xlsx',sheet_name='US_Unemp',skiprows=5) #monthly
raw_df_al_consumer_conf = pd.read_excel('data2.xlsx',sheet_name='Cons_Conf',skiprows=5) #monthly
raw_df_al_real_int = pd.read_excel('data2.xlsx',sheet_name='US_RIR',skiprows=5) #monthly



#tidy up dataset
raw_df_al_list = [raw_df_al_main, 
                  raw_df_al_gc2, 
                  raw_df_al_fed_eff_rate, 
                  raw_df_al_pe,
                  raw_df_al_dp12,
                  raw_df_al_gdp_nom_yoy,
                  raw_df_al_gdp_real_qoq,
                  raw_df_al_unemploy,
                  raw_df_al_cpi_yoy,
                  raw_df_al_consumer_conf,
                  raw_df_al_real_int]

for df in raw_df_al_list:
    df.set_index(df.columns[0], inplace= True)
    
raw_df_al_gc2.columns = ['GC2_PX_Last', 'GC2_OPEN_INT']
raw_df_al_fed_eff_rate.columns = ['fed_eff_rate']
raw_df_al_pe.columns = ['PE_RATIO']

raw_df_al_pe = raw_df_al_pe.drop('2025-02-06')
raw_df_al_main = raw_df_al_main.drop('2025-02-06')
raw_df_al_dp12 = raw_df_al_dp12.drop(['2025-02-07','2025-02-06'])
raw_df_al_dp12 = raw_df_al_dp12.drop('PX_LAST', axis = 1)

In [394]:
"""check dataframe"""
#raw_df_al_gc2
#raw_df_al_fed_eff_rate.index[0]
#raw_df_al_pe
#raw_df_al_main
# raw_df_al_dp12
print(raw_df_al_gdp_nom_yoy.columns[0])


col_name_2 = {'D/P Ratio':raw_df_al_dp12,
            'GDP_Nominoal_YOY':raw_df_al_gdp_nom_yoy,
             'GDP_Real_QoQ':raw_df_al_gdp_real_qoq, 
             'CPI_YoY':raw_df_al_cpi_yoy, 
             'US_Unemp': raw_df_al_unemploy, 
             'Cons_Conf': raw_df_al_consumer_conf, 
             'US_RIR':raw_df_al_real_int}


for key, value in col_name_2.items():
    value.rename(columns={value.columns[0]:key},inplace=True)

#raw_df_al_dp12
#print(raw_df_al_gdp_nom_yoy, raw_df_al_gdp_real_qoq, raw_df_al_cpi_yoy, raw_df_al_consumer_conf, raw_df_al_real_int,raw_df_al_unemploy)
#raw_df_al_main

PX_LAST

### _Step 2: Format Dataframe_

#### 2.1 Join Dataframe and Unify Time Duration (50 years)

In [395]:
bbg_df = raw_df_al_main.drop(raw_df_al_main.columns[2:5],axis=1)

join_list = [raw_df_al_gc2, raw_df_al_pe , raw_df_al_fed_eff_rate]

for key, value in col_name_2.items():
    join_list.append(value)


bbg_df = bbg_df.join(join_list, how='left')

threshold_date = pd.Timestamp('1975-01-01')
bbg_df = bbg_df[bbg_df.index > threshold_date]
mapping = {bbg_df.columns[0]:'GC1_PX_Last',bbg_df.columns[1]:'GC1_OPEN_INT'}
bbg_df.rename(columns=mapping, inplace=True)
col = bbg_df.pop('GC2_PX_Last')
bbg_df.insert(1,'GC2_PX_Last',col)
bbg_df

,GC1_PX_Last,GC2_PX_Last,GC1_OPEN_INT,SPX Index,NDX Index,DXY Curncy,USGG10YR Index,USGG2YR Index,CPI YOY Index,PCE CYOY Index,...,GC2_OPEN_INT,PE_RATIO,fed_eff_rate,D/P Ratio,GDP_Nominoal_YOY,GDP_Real_QoQ,CPI_YoY,US_Unemp,Cons_Conf,US_RIR
Date,,,,,,,,,,,,,,,,,,,,,
2025-02-05,2871.600098,2893.0,12629.0,6061.479980,21658.160156,107.579,4.4181,4.1868,NaN,NaN,...,406880.0,27.3265,4.33,1.2402,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-04,2853.300049,2875.8,15937.0,6037.879883,21566.919922,107.960,4.5105,4.2137,NaN,NaN,...,407732.0,27.2202,4.33,1.2446,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-03,2833.899902,2857.1,19918.0,5994.569824,21297.580078,108.990,4.5550,4.2489,NaN,NaN,...,406285.0,27.0249,4.33,1.2536,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-31,2812.500000,2835.0,29715.0,6040.529785,21478.050781,108.370,4.5387,4.1971,NaN,NaN,...,404538.0,27.2321,4.33,1.2438,NaN,NaN,NaN,NaN,71.1,1.4869
2025-01-30,2823.000000,2845.2,59296.0,6071.169922,21508.119141,107.797,4.5163,4.2073,NaN,NaN,...,401677.0,27.3702,4.33,1.2368,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1975-01-08,177.399994,180.4,NaN,70.040001,NaN,97.140,7.3920,NaN,NaN,NaN,...,NaN,NaN,5.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975-01-07,173.399994,175.8,NaN,71.019997,NaN,96.640,7.3820,NaN,NaN,NaN,...,NaN,NaN,7.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975-01-06,174.399994,176.8,NaN,71.070000,NaN,96.620,7.3920,NaN,NaN,NaN,...,NaN,NaN,7.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975-01-03,174.699997,177.5,NaN,70.709999,NaN,97.170,7.4320,NaN,NaN,NaN,...,NaN,NaN,8.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975-01-02,175.100006,178.2,NaN,70.230003,NaN,97.710,7.4220,NaN,NaN,NaN,...,NaN,NaN,8.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### _Step 3: Create Different Duration Dataframe_

#### <font color="yellow">3.1 BBG Dataframe by Month</font>

##### **<font color= #90EE90>3.1.1 Fill Nan</font>**

In [396]:
bbg_df_monthly = bbg_df.copy(deep=True)

print("Checking NaN in GC2 and GC1 before modification.......")
print(bbg_df_monthly[bbg_df_monthly['GC2_PX_Last'].isna()])


bbg_df_monthly['GC2_PX_Last'] = bbg_df_monthly['GC2_PX_Last'].fillna(method = 'bfill' )
bbg_df_monthly['GC1_PX_Last'] = bbg_df_monthly['GC1_PX_Last'].fillna(method = 'bfill' )

#checking
print("\nChecking any NaN left in GC2 .......")
print()
print(bbg_df_monthly[bbg_df_monthly['GC2_PX_Last'].isna()])

print("\nChecking any NaN left in GC1 .......")
print()
print(bbg_df_monthly[bbg_df_monthly['GC1_PX_Last'].isna()])

print("\nChecking 2025-01-01 .......")
print(bbg_df_monthly.loc['2025-01-01'])

Checking NaN in GC2 and GC1 before modification.......
            GC1_PX_Last  GC2_PX_Last  GC1_OPEN_INT  SPX Index  NDX Index  \
Date
2025-01-20          NaN          NaN           NaN        NaN        NaN
2025-01-01          NaN          NaN           NaN        NaN        NaN
2024-12-25          NaN          NaN           NaN        NaN        NaN
2024-11-30          NaN          NaN           NaN        NaN        NaN
2024-11-28          NaN          NaN           NaN        NaN        NaN
...                 ...          ...           ...        ...        ...
1975-05-31          NaN          NaN           NaN        NaN        NaN
1975-05-26          NaN          NaN           NaN        NaN        NaN
1975-03-28          NaN          NaN           NaN        NaN        NaN
1975-02-17          NaN          NaN           NaN        NaN        NaN
1975-02-12          NaN          NaN           NaN  79.919998        NaN

            DXY Curncy  USGG10YR Index  USGG2YR Index  CPI YOY Index  \
Date
2025-01-20     109.347             NaN            NaN            NaN
2025-01-01         NaN             NaN            NaN            NaN
2024-12-25         NaN             NaN            NaN            NaN
2024-11-30         NaN             NaN            NaN            2.7
2024-11-28     106.048             NaN            NaN            NaN
...                ...             ...            ...            ...
1975-05-31         NaN             NaN            NaN            9.5
1975-05-26         NaN             NaN            NaN            NaN
1975-03-28         NaN             NaN            NaN            NaN
1975-02-17         NaN             NaN            NaN            NaN
1975-02-12         NaN             NaN            NaN            NaN

            PCE CYOY Index  ...  GC2_OPEN_INT  PE_RATIO  fed_eff_rate  \
Date                        ...
2025-01-20             NaN  ...           NaN   27.0383           NaN
2025-01-01             NaN  ...           NaN   26.5191           NaN
2024-12-25             NaN  ...           NaN   27.2346           NaN
2024-11-30         2.82107  ...           NaN       NaN           NaN
2024-11-28             NaN  ...           NaN   26.8705           NaN
...                    ...  ...           ...       ...           ...
1975-05-31         9.07047  ...           NaN       NaN           NaN
1975-05-26             NaN  ...           NaN       NaN          5.07
1975-03-28             NaN  ...           NaN       NaN          5.73
1975-02-17             NaN  ...           NaN       NaN          6.29
1975-02-12             NaN  ...           NaN       NaN          6.36

            D/P Ratio  GDP_Nominoal_YOY  GDP_Real_QoQ  CPI_YoY  US_Unemp  \
Date
2025-01-20        NaN               NaN           NaN      NaN       NaN
2025-01-01        NaN               NaN           NaN      NaN       NaN
2024-12-25        NaN               NaN           NaN      NaN       NaN
2024-11-30        NaN               NaN           NaN      2.7       4.2
2024-11-28        NaN               NaN           NaN      NaN       NaN
...               ...               ...           ...      ...       ...
1975-05-31        NaN               NaN           NaN      9.5       9.0
1975-05-26        NaN               NaN           NaN      NaN       NaN
1975-03-28        NaN               NaN           NaN      NaN       NaN
1975-02-17        NaN               NaN           NaN      NaN       NaN
1975-02-12        NaN               NaN           NaN      NaN       NaN

            Cons_Conf  US_RIR
Date
2025-01-20        NaN     NaN
2025-01-01        NaN     NaN
2024-12-25        NaN     NaN
2024-11-30       71.8  1.8756
2024-11-28        NaN     NaN
...               ...     ...
1975-05-31        NaN -4.2150
1975-05-26        NaN     NaN
1975-03-28        NaN     NaN
1975-02-17        NaN     NaN
1975-02-12        NaN     NaN

[647 rows x 24 columns]

Checking any NaN left in GC2 .......

Empty DataFrame
Columns: [GC1_PX_Last, GC2_PX_Last, GC1_OPEN_INT, SPX Index, NDX Index, DXY Curncy, USGG10YR Index, USGG2YR Index, CPI YOY Index, PCE CYOY Index, VIX Index, JPY Curncy, LEGATRUU Index, EMUSTRUU Index, GC2_OPEN_INT, PE_RATIO, fed_eff_rate, D/P Ratio, GDP_Nominoal_YOY, GDP_Real_QoQ, CPI_YoY, US_Unemp, Cons_Conf, US_RIR]
Index: []

[0 rows x 24 columns]

Checking any NaN left in GC1 .......

Empty DataFrame
Columns: [GC1_PX_Last, GC2_PX_Last, GC1_OPEN_INT, SPX Index, NDX Index, DXY Curncy, USGG10YR Index, USGG2YR Index, CPI YOY Index, PCE CYOY Index, VIX Index, JPY Curncy, LEGATRUU Index, EMUSTRUU Index, GC2_OPEN_INT, PE_RATIO, fed_eff_rate, D/P Ratio, GDP_Nominoal_YOY, GDP_Real_QoQ, CPI_YoY, US_Unemp, Cons_Conf, US_RIR]
Index: []

[0 rows x 24 columns]

Checking 2025-01-01 .......
GC1_PX_Last         2641.0000
GC2_PX_Last         2666.0000
GC1_OPEN_INT              NaN
SPX Index                 NaN
NDX Index                 NaN
DXY Curncy                NaN
USGG10YR Index            NaN
USGG2YR Index             NaN
CPI YOY Index             NaN
PCE CYOY Index            NaN
VIX Index                 NaN
JPY Curncy           157.2400
LEGATRUU Index            NaN
EMUSTRUU Index            NaN
GC2_OPEN_INT              NaN
PE_RATIO              26.5191
fed_eff_rate              NaN
D/P Ratio                 NaN
GDP_Nominoal_YOY          NaN
GDP_Real_QoQ              NaN
CPI_YoY                   NaN
US_Unemp                  NaN
Cons_Conf                 NaN
US_RIR                    NaN
Name: 2025-01-01 00:00:00, dtype: float64

/var/folders/sr/hdxgljkx6njfjb87b53t3jl00000gn/T/ipykernel_33963/2615202226.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  bbg_df_monthly['GC2_PX_Last'] = bbg_df_monthly['GC2_PX_Last'].fillna(method = 'bfill' )
/var/folders/sr/hdxgljkx6njfjb87b53t3jl00000gn/T/ipykernel_33963/2615202226.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  bbg_df_monthly['GC1_PX_Last'] = bbg_df_monthly['GC1_PX_Last'].fillna(method = 'bfill' )

##### **<font color= #90EE90>3.1.2 Resample to Month</font>**

In [397]:
bbg_df_monthly_only = bbg_df_monthly.resample('M').last()
bbg_df_monthly_only = bbg_df_monthly_only.iloc[:-2] #until 2024-12-31
bbg_df_monthly_only

/var/folders/sr/hdxgljkx6njfjb87b53t3jl00000gn/T/ipykernel_33963/2142215610.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  bbg_df_monthly_only = bbg_df_monthly.resample('M').last()

,GC1_PX_Last,GC2_PX_Last,GC1_OPEN_INT,SPX Index,NDX Index,DXY Curncy,USGG10YR Index,USGG2YR Index,CPI YOY Index,PCE CYOY Index,...,GC2_OPEN_INT,PE_RATIO,fed_eff_rate,D/P Ratio,GDP_Nominoal_YOY,GDP_Real_QoQ,CPI_YoY,US_Unemp,Cons_Conf,US_RIR
Date,,,,,,,,,,,,,,,,,,,,,
1975-01-31,175.500000,178.0,NaN,76.980003,NaN,95.610,7.5320,NaN,11.8,10.14168,...,NaN,NaN,6.76,4.7025,NaN,NaN,11.8,8.1,NaN,-4.8026
1975-02-28,183.000000,185.9,NaN,81.589996,NaN,93.000,7.4620,NaN,11.2,10.21999,...,NaN,NaN,6.07,4.4613,NaN,NaN,11.2,8.1,NaN,-5.2288
1975-03-31,177.100006,179.5,NaN,83.360001,NaN,94.820,8.0120,NaN,10.3,9.93721,...,NaN,NaN,5.39,4.4026,8.4,-4.7,10.3,8.6,NaN,-4.7510
1975-04-30,166.800003,168.9,NaN,87.300003,NaN,95.390,8.3120,NaN,10.2,9.65292,...,NaN,NaN,7.03,4.2153,NaN,NaN,10.2,8.8,NaN,-4.9583
1975-05-31,166.500000,169.0,NaN,91.150002,NaN,94.630,8.0420,NaN,9.5,9.07047,...,NaN,NaN,5.23,4.0483,NaN,NaN,9.5,9.0,NaN,-4.2150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-31,2504.500000,2527.6,44962.0,5648.399902,19574.640625,101.698,3.9034,3.9165,2.5,2.73112,...,420031.0,25.7351,5.33,1.2990,NaN,NaN,2.5,4.2,67.9,2.8443
2024-09-30,2636.100098,2659.4,2724.0,5762.479980,20060.689453,100.779,3.7809,3.6411,2.4,2.66078,...,452151.0,26.2906,4.83,1.2789,5.0,3.1,2.4,4.1,70.1,2.4344
2024-10-31,2749.300049,2774.0,418362.0,5705.450195,19890.419922,103.976,4.2844,4.1702,2.6,2.80366,...,91420.0,26.0330,4.83,1.3046,NaN,NaN,2.6,4.1,70.5,2.2771
2024-11-30,2657.000000,2681.0,3573.0,6032.379883,20930.369141,105.737,4.1685,4.1509,2.7,2.82107,...,355647.0,27.0212,4.58,1.2387,NaN,NaN,2.7,4.2,71.8,1.8756
2024-12-31,2641.000000,2666.0,328658.0,5881.629883,21012.169922,108.487,4.5690,4.2416,2.9,2.79437,...,68172.0,26.5203,4.33,1.2685,5.0,2.3,2.9,4.1,74.0,1.4869

##### **<font color= #90EE90>3.1.3 Create Time Series Momentum Data</font>**

In [398]:
bbg_df_monthly_only['GC2_Monthly_Return'] = bbg_df_monthly_only['GC2_PX_Last'].pct_change()
bbg_df_monthly_only['GC1_Monthly_Return'] = bbg_df_monthly_only['GC1_PX_Last'].pct_change()
col = bbg_df_monthly_only.pop('GC2_Monthly_Return')
bbg_df_monthly_only.insert(2,'GC2_Monthly_Return',col)
col = bbg_df_monthly_only.pop('GC1_Monthly_Return')
bbg_df_monthly_only.insert(1,'GC1_Monthly_Return',col)
bbg_df_monthly_only

,GC1_PX_Last,GC1_Monthly_Return,GC2_PX_Last,GC2_Monthly_Return,GC1_OPEN_INT,SPX Index,NDX Index,DXY Curncy,USGG10YR Index,USGG2YR Index,...,GC2_OPEN_INT,PE_RATIO,fed_eff_rate,D/P Ratio,GDP_Nominoal_YOY,GDP_Real_QoQ,CPI_YoY,US_Unemp,Cons_Conf,US_RIR
Date,,,,,,,,,,,,,,,,,,,,,
1975-01-31,175.500000,NaN,178.0,NaN,NaN,76.980003,NaN,95.610,7.5320,NaN,...,NaN,NaN,6.76,4.7025,NaN,NaN,11.8,8.1,NaN,-4.8026
1975-02-28,183.000000,0.042735,185.9,0.044382,NaN,81.589996,NaN,93.000,7.4620,NaN,...,NaN,NaN,6.07,4.4613,NaN,NaN,11.2,8.1,NaN,-5.2288
1975-03-31,177.100006,-0.032240,179.5,-0.034427,NaN,83.360001,NaN,94.820,8.0120,NaN,...,NaN,NaN,5.39,4.4026,8.4,-4.7,10.3,8.6,NaN,-4.7510
1975-04-30,166.800003,-0.058159,168.9,-0.059053,NaN,87.300003,NaN,95.390,8.3120,NaN,...,NaN,NaN,7.03,4.2153,NaN,NaN,10.2,8.8,NaN,-4.9583
1975-05-31,166.500000,-0.001799,169.0,0.000592,NaN,91.150002,NaN,94.630,8.0420,NaN,...,NaN,NaN,5.23,4.0483,NaN,NaN,9.5,9.0,NaN,-4.2150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-31,2504.500000,0.032145,2527.6,0.031968,44962.0,5648.399902,19574.640625,101.698,3.9034,3.9165,...,420031.0,25.7351,5.33,1.2990,NaN,NaN,2.5,4.2,67.9,2.8443
2024-09-30,2636.100098,0.052545,2659.4,0.052144,2724.0,5762.479980,20060.689453,100.779,3.7809,3.6411,...,452151.0,26.2906,4.83,1.2789,5.0,3.1,2.4,4.1,70.1,2.4344
2024-10-31,2749.300049,0.042942,2774.0,0.043092,418362.0,5705.450195,19890.419922,103.976,4.2844,4.1702,...,91420.0,26.0330,4.83,1.3046,NaN,NaN,2.6,4.1,70.5,2.2771
2024-11-30,2657.000000,-0.033572,2681.0,-0.033526,3573.0,6032.379883,20930.369141,105.737,4.1685,4.1509,...,355647.0,27.0212,4.58,1.2387,NaN,NaN,2.7,4.2,71.8,1.8756
2024-12-31,2641.000000,-0.006022,2666.0,-0.005595,328658.0,5881.629883,21012.169922,108.487,4.5690,4.2416,...,68172.0,26.5203,4.33,1.2685,5.0,2.3,2.9,4.1,74.0,1.4869

In [399]:
import numpy as np

#1M sign
bbg_df_monthly_only['GC2_1M_Sign'] = np.sign(bbg_df_monthly_only['GC2_Monthly_Return'])
bbg_df_monthly_only['GC1_1M_Sign'] = np.sign(bbg_df_monthly_only['GC1_Monthly_Return'])

return_func = lambda x: x[-1] / x[0] - 1

#3M return
bbg_df_monthly_only['GC2_3M_Ret'] = bbg_df_monthly_only['GC2_PX_Last'].rolling(window=4).apply(return_func,raw=True)
bbg_df_monthly_only['GC1_3M_Ret'] = bbg_df_monthly_only['GC1_PX_Last'].rolling(window=4).apply(return_func,raw=True)
bbg_df_monthly_only['GC2_3M_Sign'] = np.sign(bbg_df_monthly_only['GC2_3M_Ret'])
bbg_df_monthly_only['GC1_3M_Sign'] = np.sign(bbg_df_monthly_only['GC1_3M_Ret'])

#6M return 
bbg_df_monthly_only['GC2_6M_Ret'] = bbg_df_monthly_only['GC2_PX_Last'].rolling(window=7).apply(return_func,raw=True)
bbg_df_monthly_only['GC1_6M_Ret'] = bbg_df_monthly_only['GC1_PX_Last'].rolling(window=7).apply(return_func,raw=True)
bbg_df_monthly_only['GC2_6M_Sign'] = np.sign(bbg_df_monthly_only['GC2_6M_Ret'])
bbg_df_monthly_only['GC1_6M_Sign'] = np.sign(bbg_df_monthly_only['GC1_6M_Ret'])


#12M return
bbg_df_monthly_only['GC2_12M_Ret'] = bbg_df_monthly_only['GC2_PX_Last'].rolling(window=13).apply(return_func,raw=True)
bbg_df_monthly_only['GC1_12M_Ret'] = bbg_df_monthly_only['GC1_PX_Last'].rolling(window=13).apply(return_func,raw=True)
bbg_df_monthly_only['GC2_12M_Sign'] = np.sign(bbg_df_monthly_only['GC2_12M_Ret'])
bbg_df_monthly_only['GC1_12M_Sign'] = np.sign(bbg_df_monthly_only['GC1_12M_Ret'])


bbg_df_monthly_only

,GC1_PX_Last,GC1_Monthly_Return,GC2_PX_Last,GC2_Monthly_Return,GC1_OPEN_INT,SPX Index,NDX Index,DXY Curncy,USGG10YR Index,USGG2YR Index,...,GC2_3M_Sign,GC1_3M_Sign,GC2_6M_Ret,GC1_6M_Ret,GC2_6M_Sign,GC1_6M_Sign,GC2_12M_Ret,GC1_12M_Ret,GC2_12M_Sign,GC1_12M_Sign
Date,,,,,,,,,,,,,,,,,,,,,
1975-01-31,175.500000,NaN,178.0,NaN,NaN,76.980003,NaN,95.610,7.5320,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975-02-28,183.000000,0.042735,185.9,0.044382,NaN,81.589996,NaN,93.000,7.4620,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975-03-31,177.100006,-0.032240,179.5,-0.034427,NaN,83.360001,NaN,94.820,8.0120,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975-04-30,166.800003,-0.058159,168.9,-0.059053,NaN,87.300003,NaN,95.390,8.3120,NaN,...,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975-05-31,166.500000,-0.001799,169.0,0.000592,NaN,91.150002,NaN,94.630,8.0420,NaN,...,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-31,2504.500000,0.032145,2527.6,0.031968,44962.0,5648.399902,19574.640625,101.698,3.9034,3.9165,...,1.0,1.0,0.218355,0.218913,1.0,1.0,0.285722,0.286338,1.0,1.0
2024-09-30,2636.100098,0.052545,2659.4,0.052144,2724.0,5762.479980,20060.689453,100.779,3.7809,3.6411,...,1.0,1.0,0.188081,0.188825,1.0,1.0,0.425111,0.426384,1.0,1.0
2024-10-31,2749.300049,0.042942,2774.0,0.043092,418362.0,5705.450195,19890.419922,103.976,4.2844,4.1702,...,1.0,1.0,0.193272,0.193843,1.0,1.0,0.376948,0.378579,1.0,1.0
2024-11-30,2657.000000,-0.033572,2681.0,-0.033526,3573.0,6032.379883,20930.369141,105.737,4.1685,4.1509,...,1.0,1.0,0.142894,0.143829,1.0,1.0,0.303228,0.303665,1.0,1.0
2024-12-31,2641.000000,-0.006022,2666.0,-0.005595,328658.0,5881.629883,21012.169922,108.487,4.5690,4.2416,...,1.0,1.0,0.128466,0.128825,1.0,1.0,0.274500,0.274737,1.0,1.0

In [400]:
#Reorder columns

new_order_part1 = list(bbg_df_monthly_only.columns[0:5]) + ['GC2_OPEN_INT'] + ['GC2_1M_Sign', 'GC1_1M_Sign', 'GC2_3M_Ret', 'GC1_3M_Ret',
       'GC2_3M_Sign', 'GC1_3M_Sign', 'GC2_6M_Ret', 'GC1_6M_Ret', 'GC2_6M_Sign','GC1_6M_Sign', 'GC2_12M_Ret', 'GC1_12M_Ret', 'GC2_12M_Sign','GC1_12M_Sign']

new_order = new_order_part1 + [col for col in bbg_df_monthly_only.columns if col not in new_order_part1]
bbg_df_by_month = bbg_df_monthly_only.loc[:,new_order]
bbg_df_by_month

,GC1_PX_Last,GC1_Monthly_Return,GC2_PX_Last,GC2_Monthly_Return,GC1_OPEN_INT,GC2_OPEN_INT,GC2_1M_Sign,GC1_1M_Sign,GC2_3M_Ret,GC1_3M_Ret,...,EMUSTRUU Index,PE_RATIO,fed_eff_rate,D/P Ratio,GDP_Nominoal_YOY,GDP_Real_QoQ,CPI_YoY,US_Unemp,Cons_Conf,US_RIR
Date,,,,,,,,,,,,,,,,,,,,,
1975-01-31,175.500000,NaN,178.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.76,4.7025,NaN,NaN,11.8,8.1,NaN,-4.8026
1975-02-28,183.000000,0.042735,185.9,0.044382,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,6.07,4.4613,NaN,NaN,11.2,8.1,NaN,-5.2288
1975-03-31,177.100006,-0.032240,179.5,-0.034427,NaN,NaN,-1.0,-1.0,NaN,NaN,...,NaN,NaN,5.39,4.4026,8.4,-4.7,10.3,8.6,NaN,-4.7510
1975-04-30,166.800003,-0.058159,168.9,-0.059053,NaN,NaN,-1.0,-1.0,-0.051124,-0.049573,...,NaN,NaN,7.03,4.2153,NaN,NaN,10.2,8.8,NaN,-4.9583
1975-05-31,166.500000,-0.001799,169.0,0.000592,NaN,NaN,1.0,-1.0,-0.090909,-0.090164,...,NaN,NaN,5.23,4.0483,NaN,NaN,9.5,9.0,NaN,-4.2150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-31,2504.500000,0.032145,2527.6,0.031968,44962.0,420031.0,1.0,1.0,0.077500,0.078178,...,1244.776001,25.7351,5.33,1.2990,NaN,NaN,2.5,4.2,67.9,2.8443
2024-09-30,2636.100098,0.052545,2659.4,0.052144,2724.0,452151.0,1.0,1.0,0.125672,0.126731,...,1266.703003,26.2906,4.83,1.2789,5.0,3.1,2.4,4.1,70.1,2.4344
2024-10-31,2749.300049,0.042942,2774.0,0.043092,418362.0,91420.0,1.0,1.0,0.132568,0.133031,...,1249.322998,26.0330,4.83,1.3046,NaN,NaN,2.6,4.1,70.5,2.2771
2024-11-30,2657.000000,-0.033572,2681.0,-0.033526,3573.0,355647.0,-1.0,-1.0,0.060690,0.060890,...,1263.145020,27.0212,4.58,1.2387,NaN,NaN,2.7,4.2,71.8,1.8756
2024-12-31,2641.000000,-0.006022,2666.0,-0.005595,328658.0,68172.0,-1.0,-1.0,0.002482,0.001859,...,1248.129028,26.5203,4.33,1.2685,5.0,2.3,2.9,4.1,74.0,1.4869

##### **<font color= #90EE90>3.1.4 Modify Non BBG Dataset</font>**

In [401]:
#Before change
print(raw_df_sc.iloc[:,0])

#After change
raw_df_sc['DATE'] = pd.to_datetime(raw_df_sc['DATE'], format='%Y-%m') + pd.offsets.MonthEnd(0)

raw_df_sc.set_index(raw_df_sc.columns[0],inplace = True)

raw_df_sc

0       1914-01
1       1914-02
2       1914-03
3       1914-04
4       1914-05
         ...
1327    2024-08
1328    2024-09
1329    2024-10
1330    2024-11
1331    2024-12
Name: DATE, Length: 1332, dtype: object

,CPI,PPI,ETF_Ounces,10yInterest,DP_ratio,PE_ratio,Chinese_premium_discount,Indian_premium_discount,NASDAQ,SP500_price,SP500_volume,USD_index,VIX
DATE,,,,,,,,,,,,,
1914-01-31,NaN,-2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1914-02-28,NaN,-1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1914-03-31,NaN,-2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1914-04-30,NaN,-2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1914-05-31,NaN,-2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-31,7.934,-0.9,NaN,1.664190,1.33,27.55,-1.526427,5.831219,0.002809,NaN,NaN,-0.005923,-0.037692
2024-09-30,7.398,-2.4,NaN,1.581581,1.31,28.07,-11.192383,-2.388517,0.011506,NaN,NaN,NaN,0.047405
2024-10-31,7.923,-0.9,NaN,1.480148,1.28,NaN,-13.455145,0.537662,-0.002251,NaN,NaN,NaN,0.141243
2024-11-30,8.417,0.1,NaN,1.958417,1.25,NaN,-16.183557,9.254420,0.026150,NaN,NaN,NaN,-0.234083
2024-12-31,8.943,1.5,NaN,1.824369,1.24,NaN,-3.335864,0.340406,0.002088,NaN,NaN,NaN,0.108644

In [402]:
#Join with BBG Dataframe

selected_cols = ['ETF_Ounces', 'Chinese_premium_discount', 'Indian_premium_discount', 'PPI']

partial_df_sc = raw_df_sc[selected_cols]

print(partial_df_sc)
partial_df_sc.index

            ETF_Ounces  Chinese_premium_discount  Indian_premium_discount  PPI
DATE
1914-01-31         NaN                       NaN                      NaN -2.5
1914-02-28         NaN                       NaN                      NaN -1.7
1914-03-31         NaN                       NaN                      NaN -2.5
1914-04-30         NaN                       NaN                      NaN -2.5
1914-05-31         NaN                       NaN                      NaN -2.5
...                ...                       ...                      ...  ...
2024-08-31         NaN                 -1.526427                 5.831219 -0.9
2024-09-30         NaN                -11.192383                -2.388517 -2.4
2024-10-31         NaN                -13.455145                 0.537662 -0.9
2024-11-30         NaN                -16.183557                 9.254420  0.1
2024-12-31         NaN                 -3.335864                 0.340406  1.5

[1332 rows x 4 columns]

DatetimeIndex(['1914-01-31', '1914-02-28', '1914-03-31', '1914-04-30',
               '1914-05-31', '1914-06-30', '1914-07-31', '1914-08-31',
               '1914-09-30', '1914-10-31',
               ...
               '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30',
               '2024-07-31', '2024-08-31', '2024-09-30', '2024-10-31',
               '2024-11-30', '2024-12-31'],
              dtype='datetime64[ns]', name='DATE', length=1332, freq=None)

In [403]:
combined_df_by_month = bbg_df_by_month.join(partial_df_sc,how='left')

combined_df_by_month

,GC1_PX_Last,GC1_Monthly_Return,GC2_PX_Last,GC2_Monthly_Return,GC1_OPEN_INT,GC2_OPEN_INT,GC2_1M_Sign,GC1_1M_Sign,GC2_3M_Ret,GC1_3M_Ret,...,GDP_Nominoal_YOY,GDP_Real_QoQ,CPI_YoY,US_Unemp,Cons_Conf,US_RIR,ETF_Ounces,Chinese_premium_discount,Indian_premium_discount,PPI
Date,,,,,,,,,,,,,,,,,,,,,
1975-01-31,175.500000,NaN,178.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.8,8.1,NaN,-4.8026,NaN,NaN,NaN,17.1
1975-02-28,183.000000,0.042735,185.9,0.044382,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,11.2,8.1,NaN,-5.2288,NaN,NaN,NaN,14.4
1975-03-31,177.100006,-0.032240,179.5,-0.034427,NaN,NaN,-1.0,-1.0,NaN,NaN,...,8.4,-4.7,10.3,8.6,NaN,-4.7510,NaN,NaN,NaN,12.5
1975-04-30,166.800003,-0.058159,168.9,-0.059053,NaN,NaN,-1.0,-1.0,-0.051124,-0.049573,...,NaN,NaN,10.2,8.8,NaN,-4.9583,NaN,NaN,NaN,12.7
1975-05-31,166.500000,-0.001799,169.0,0.000592,NaN,NaN,1.0,-1.0,-0.090909,-0.090164,...,NaN,NaN,9.5,9.0,NaN,-4.2150,NaN,NaN,NaN,11.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-31,2504.500000,0.032145,2527.6,0.031968,44962.0,420031.0,1.0,1.0,0.077500,0.078178,...,NaN,NaN,2.5,4.2,67.9,2.8443,NaN,-1.526427,5.831219,-0.9
2024-09-30,2636.100098,0.052545,2659.4,0.052144,2724.0,452151.0,1.0,1.0,0.125672,0.126731,...,5.0,3.1,2.4,4.1,70.1,2.4344,NaN,-11.192383,-2.388517,-2.4
2024-10-31,2749.300049,0.042942,2774.0,0.043092,418362.0,91420.0,1.0,1.0,0.132568,0.133031,...,NaN,NaN,2.6,4.1,70.5,2.2771,NaN,-13.455145,0.537662,-0.9
2024-11-30,2657.000000,-0.033572,2681.0,-0.033526,3573.0,355647.0,-1.0,-1.0,0.060690,0.060890,...,NaN,NaN,2.7,4.2,71.8,1.8756,NaN,-16.183557,9.254420,0.1
2024-12-31,2641.000000,-0.006022,2666.0,-0.005595,328658.0,68172.0,-1.0,-1.0,0.002482,0.001859,...,5.0,2.3,2.9,4.1,74.0,1.4869,NaN,-3.335864,0.340406,1.5

##### **<font color= #90EE90>3.1.5 Export Dataframe</font>**

In [354]:
combined_df_by_month.to_csv('combined_df_by_month.csv')

-------

#### <font color= grey>Placeholder Demo : Gold Futures Data Extraction</font>

In [336]:
import yfinance as yf
dat = yf.Ticker("GC=F") #continous front-month contract

In [337]:
#Extract historical price starting from 2000 Aug
gc_df = dat.history(period = 'max')

In [338]:
import pandas as pd
gc_df = gc_df.iloc[:-1]
gc_df.to_csv("gold_futures_2000-2025.csv")

In [339]:
gc_df.tail(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-01-24 00:00:00-05:00,2759.800049,2792.000000,2759.800049,2777.300049,1593,0.0,0.0
2025-01-27 00:00:00-05:00,2761.100098,2762.199951,2737.500000,2737.500000,984,0.0,0.0
2025-01-28 00:00:00-05:00,2738.000000,2766.800049,2738.000000,2766.800049,2307,0.0,0.0
2025-01-29 00:00:00-05:00,2769.100098,2769.100098,2769.100098,2769.100098,125692,0.0,0.0
2025-01-30 00:00:00-05:00,2772.500000,2829.500000,2770.000000,2823.000000,40141,0.0,0.0
2025-01-31 00:00:00-05:00,2829.000000,2838.000000,2804.000000,2812.500000,3443,0.0,0.0
2025-02-03 00:00:00-05:00,2818.199951,2848.399902,2780.899902,2833.899902,2649,0.0,0.0
2025-02-04 00:00:00-05:00,2827.600098,2853.300049,2816.100098,2853.300049,2187,0.0,0.0
2025-02-05 00:00:00-05:00,2850.000000,2880.500000,2848.000000,2871.600098,4519,0.0,0.0
2025-02-06 00:00:00-05:00,2865.199951,2871.699951,2836.300049,2856.000000,3116,0.0,0.0

In [340]:
divd_0 = (gc_df['Dividends']== 0).sum()
stkspt_0 = (gc_df['Stock Splits']== 0).sum()
print(divd_0, stkspt_0) #6130 rows

gc_df_1 = gc_df.drop(['Dividends','Stock Splits'],axis=1)


gc_df_1.index = pd.to_datetime(gc_df_1.index).strftime('%Y-%m-%d')

gc_df_1

6132 6132

                   Open         High          Low        Close  Volume
Date
2000-08-30   273.899994   273.899994   273.899994   273.899994       0
2000-08-31   274.799988   278.299988   274.799988   278.299988       0
2000-09-01   277.000000   277.000000   277.000000   277.000000       0
2000-09-05   275.799988   275.799988   275.799988   275.799988       2
2000-09-06   274.200012   274.200012   274.200012   274.200012       0
...                 ...          ...          ...          ...     ...
2025-01-31  2829.000000  2838.000000  2804.000000  2812.500000    3443
2025-02-03  2818.199951  2848.399902  2780.899902  2833.899902    2649
2025-02-04  2827.600098  2853.300049  2816.100098  2853.300049    2187
2025-02-05  2850.000000  2880.500000  2848.000000  2871.600098    4519
2025-02-06  2865.199951  2871.699951  2836.300049  2856.000000    3116

[6132 rows x 5 columns]